/* HEADER DO SITE (BARRA DE MENU) */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* estilizando a barra de rolagem */

    /* para firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0D1317 #AC80A0;
}

    /* para chrome, edge e safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #0D1317;
}

*::-webkit-scrollbar-thumb {
    background-color: #AC80A0;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
}


header {
    display: flex;
    box-sizing: border-box;
    height: 120px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #0D1317;
}

.logo {
    padding-left: 1rem;
}

header #nav #menu li a {
    color: #ddd;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}

header #nav #btn-mobile a {
    font-size: 26px;
    font-family: monospace;
    color: #ddd;
    padding-right: .2rem;
}

header #nav #menu li a:hover {
    background: #ac80a02f;
    color: #fff;
    border-radius: 5px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    /*aqui estou declarando que o botão MENU ficará desabilitado no estado natural*/
    display: none;
}

@media (max-width: 1100px) {
    #menu {
        /* aqui estou desativando o MENU estendido quando a tela for <=900px */
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        background: #0D1317;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }
    #nav.active #menu {
        /* aqui estou dizendo que essa função será ativada quando a class 'active' for adicionada na tag nav, isso está sendo feito através da função toggleMenu no JS */
        height: calc(100vh - 120px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    }
    #btn-mobile {
        /* aqui estou dizendo que o botão MENU ficará visivel quando a tela for <= 900px */
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        gap: .5rem;
        align-items: center;
        margin-top: 10px;
        padding-bottom: 1.2rem;
    }

    /* configurações do menu hamburger */
    #hamburger {
        border-top: 5px solid #AC80A0;
        width: 30px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #AC80A0;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -10px;
    }
}


/* configuração das imagens responsivas do HOME */

#flex-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 50px;
}

img {
    max-width: 100%;
}


/* configurações de estilo  do rodapé */

footer {
    width: 100%;
    min-height: 100%;
    background: #0D1317;
    display: flex;
    font-family: monospace;
    justify-content: center;
}
footer .rodape {
    width: 320px;
    min-height: 150px;
    padding: 20px;
    text-align: center;
}

.rodape h2 {
    color: #AC80A0;
    margin-bottom: 20px;
    font-size: 26px;
    border-bottom: 3px solid #fff;
    padding: 10px;
}

.rodape ul li {
    margin: 10px 0px;
    list-style: none;
    padding: 0.5rem;
}

.rodape ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem;
}

.rodape ul li a:hover {
    background: #ac80a02f;
    color: #fff;
    border-radius: 5px;
}

.rodape p {
    color: #fff;
    text-align: justify;
}

/* configuração da resposividade do footer */
@media(max-width: 800px) {
    footer {
        flex-direction: column;
    }
    footer .rodape {
        width: 100%;
        text-align: center;
    }
    
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #090809;
    padding: 16px;
}

.footer h2 {
    color: #ddd;
}

.footer .sociais {
    display: flex;
}

.sociais .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #AC80A0;
    transition: background .3s linear;
}

.sociais .social a {
    color: #000;
    font-size: 1.5rem;
    transition: color .3s linear;
}

.sociais .social:hover {
    background: rgb(255, 255, 255);
}

.sociais .social:hover a {
    color: rgb(0, 0, 0);
}