.grid-header {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    float: ri ght;
    column-gap: 20%;
}

.grid-header-item {  
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 9;
}

.grid-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 9;
}
